/*This section changes the padding/margin around the top banner */
body, h1, h2, p {
    margin: 10;
    padding: 0;
}

/*This section change the body text in each page; font family and color. And the background color of the whole app*/
body {
    font-family: 'Arial', sans-serif;
    background-image: url("9.jpg");
    width: 1.0;
    background-color: #ffffff;
    color: #ffffff;

}

/*changes the h1 headers on each page color and font*/
h1 {
    color: #FFFFFF;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

nav {
    background-image: linear-gradient(#CFC7C7,#121212);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    
}

hr {
    margin-left: 425px;
    margin-right: 425px;
}
/**/
.solo {
    background-image: linear-gradient(to bottom right, #121212,#CFC7C7);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    margin-top: 0;
    text-align: center;
    width: fit-content;
    max-width: 980px;
    border-radius: 10px;
    
}

.solo img {
    border-radius: 20px;
}

/**/
.parent {
    /*border: 1px solid black;*/
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 0px; 
    width: 1.0;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 75px;
    margin-right: 75px;
}



.content {
    max-width: 980px;
    display: inline-block;/**/
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    background-image: linear-gradient(to bottom right, #121212,#CFC7C7);
    border-radius: 20px;
    vertical-align: middle;
    
}

.visual {
    /* Styles for the visual container */
    display: inline-block;
    top: 0;
    right: 0;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

/* Reduce the size of the image */
.visual img {
    width: 90%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
}

.info-visual p {
    background-image: linear-gradient(to bottom left, #121212,#706C6C);
    border-radius: 10px;
    padding: 20px;
}

