<!--This where the welcome page content is located-->
{% extends 'base.html' %} <!--conserves the structure of the base.html and only fills in the the section with block content and block title-->

{% block solo %}
    <h1>{% block title %} Top Music of 2023: a SQLite Database {% endblock %}</h1> <!--embedded title block within the content block-->
    
    <h3>Group members: 
        Susan Miyengi, Aiden Tariku, Karl Schultz, and Naomi Baxter</h2>
    <h3></h3>
    
    <p>This project is focused on the development of SQLite database, served on Flask, and integrated Python code for query requests. The focus extends beyond functionality to encompass a visually appealing and user-friendly experience, achieved through the implementation of HTML and CSS for development and styling.
The web app is designed to facilitate easy and efficient data retrieval, allowing users to use query results that interact with the Flask backend. Using the power of Flask, Python, HTML, and CSS, this project creates a harmonious blend of functionality and aesthetics, providing users with an interactive platform that is not only robust in its querying capabilities but also visually polished and engaging.
</p>
    <hr>
    <h3>Music database ERD</h3>
    <img src="{{ url_for('static', filename='spotify_erd.png') }}" alt="spotify erd" style="width: 90%; height: auto;">
{% endblock %}
